@import "tailwindcss";

@theme {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #0a0014;
  --color-neon-purple: #b026ff;
  --color-neon-cyan: #00f3ff;
  --color-neon-pink: #ff00c8;
  --font-Outfit: "Outfit", sans-serif;
  --font-Ovo: "Ovo", serif;
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
  --animate-spin-slow: spin 6s linear infinite;
}

body {
  background-color: var(--color-dark-theme);
  color: #ffffff;
}
@keyframes gradientMove{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}
.animate-gradient{
background-size:300% 300%;
animation:gradientMove 15s ease infinite;
}
